.pnotify-text.brighttheme-text.pnotify-text-with-max-height {
  height: 39px;
}

body {
  background-image: url('../images/bac.jpg');
}

.search-form {
  text-align: center;
}
.input {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
  min-width: 500px;
}

.gallery {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}
.container {
  max-width: 1800px;
}

.item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}
.stats {
  display: flex;
}
.stats-item {
  margin-left: 50px;
  font-size: 30px;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
